#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: show 0.3s;
  .title-area,
  .filling-area {
    width: 47%;
  }
  .title-area {
    h1 {
      margin: 0;
      line-height: 1.3;
    }
    .greet {
      font-size: clamp(18px, 2.8dvw, 32px);
      font-weight: 600;
      color: white;
      opacity: 0.3;
    }
    .name {
      font-size: clamp(28px, 4dvw, 48px);
      font-weight: 600;
      text-transform: uppercase;
      color: $tiernary_1;
    }
    .position {
      font-size: clamp(14px, 2.8dvw, 32px);
      font-weight: 500;
      text-transform: uppercase;
      background-color: $primary;
      padding: 5px 10px;
      display: inline;
    }
    p {
      font-size: clamp(12px, 1dvw, 14px);
      font-weight: 300;
      margin-bottom: clamp(1rem, 3dvw, 2.5rem);
    }
  }
  .filling-area {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    .cover {
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1/1;
      img {
        height: 100%;
      }
      .track {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        justify-content: center;
        height: max-content;
        width: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 1) 10%, rgba(68, 94, 242, 0) 100%);
        .aksi {
          display: flex;
          justify-content: space-between;
          .judul {
            display: flex;
            flex-direction: column;
            h1,
            a {
              margin: 0;
              display: inline;
              width: max-content;
              margin-left: 1.8rem;
            }
            h1 a {
              margin: 0;
              font-weight: 600;
            }
            a {
              font-weight: 400;
              color: #ffffffbd;
              margin-bottom: 0.8rem;
              text-decoration: none;
            }
          }
          .tombol {
            display: flex;
            align-items: center;
            margin-right: 1.8rem;
            svg {
              cursor: pointer;
            }
          }
        }
        input[type="range"] {
          -webkit-appearance: none;
          appearance: none;
          background: transparent;
          margin-left: 1.8rem;
          margin-right: 1.8rem;
          margin-bottom: 1.3rem;
          width: calc(100% - 1.8rem * 2);
          height: 4px;
          outline: none;
          overflow: hidden;
          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: default !important;
            background: transparent;
          }
          &::-moz-range-track {
            width: 100%;
            height: 4px;
            cursor: default;
            background: transparent;
          }
          &::-ms-track {
            width: 100%;
            height: 4px;
            cursor: default;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1px;
            height: 4px;
            background: $primary;
            border-image-source: linear-gradient(90deg, $primary 50%, #ffffff88 0);
            border-image-slice: 1;
            border-image-width: 0 100vw;
            border-image-outset: 0 calc(100vw);
            cursor: default;
          }
          &::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1px;
            height: 4px;
            background: $primary;
            border-image-source: linear-gradient(90deg, $primary 50%, #ababab 0);
            border-image-slice: 1;
            border-image-width: 0 100vw;
            border-image-outset: 0 calc(100vw);
            cursor: default;
          }
          &::-ms-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 0;
            height: 0;
            background: #ffffff;
            cursor: default;
          }
        }
      }
    }
  }
}

@media #{$lg} {
  #home {
    flex-direction: column;
    .title-area,
    .filling-area {
      width: 100%;
      padding-bottom: 2rem;
    }
    .title-area button {
      font-size: clamp(12px, 1dvw, 14px);
      padding: 1rem 2rem !important;
    }
    .filling-area .cover img {
      width: 100%;
    }
  }
}
