.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: clamp(1rem, 2dvw, 1.5rem);
  margin-bottom: clamp(1rem, 2dvw, 1.5rem);
  .logo,
  .kontak {
    width: max-content;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(12px, 2dvw, 21px);
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .menu {
    display: flex;
    width: max-content;
    list-style-type: none;
    .nav-link {
      padding: clamp(0.2rem, 1dvw, 0.5rem);
      margin: clamp(0.2rem, 1dvw, 0.5rem);
      font-size: clamp(12px, 1dvw, 14px);
      color: white;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      &:not(.active)::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
        background-color: $tiernary_1;
      }
      &:is(.active)::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        transform: scale(1, 1);
        transition: transform 0.3s ease;
        background-color: $tiernary_1;
      }
    }
  }
  .kontak {
    position: relative;
    cursor: pointer;
    &:hover {
      button {
        padding-left: 1.1rem;
        padding-right: 2.3rem;
        &:hover {
          transform: none;
        }
      }
      svg {
        opacity: 1;
        right: 10%;
        color: white;
      }
    }
    button {
      padding: 0.7rem 1.7rem;
      transition: padding 0.3s ease;
      &::after {
        all: unset;
      }
    }
    svg {
      position: absolute;
      transition-property: opacity, right;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      opacity: 0;
      right: 0;
      top: 50%;
      transform: translateY(calc(-50% - 8px));
      width: 20px;
      height: 20px;
    }
    @media #{$sm} {
      display: none;
    }
  }
}

#social-media {
  position: fixed;
  bottom: 2rem;
  z-index: 9999;
  right: 0;
  bottom: 50%;
  transform: translateY(calc(-50% + ((1rem + 28px) * 2)));
  padding-left: 0.5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  a {
    &:hover svg {
      opacity: 1;
    }
    svg {
      transition: opacity 0.3s ease;
      padding: 0.2rem;
      margin: 0.2rem;
      width: 20px;
      height: 20px;
      opacity: 0.5;
      color: $tiernary_1;
      cursor: pointer;
    }
  }
}
