#project {
  display: flex;
  animation: show 0.3s;
  .text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    @keyframes ani {
      0%,
      30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 $primary;
        color: #fff;
      }
      70%,
      100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em $primary;
        color: #fff;
      }
    }
    h1 {
      font-size: 32px;
      width: 80%;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin: 0;
      height: max-content;
      font-style: italic;
      letter-spacing: 2px;
      border-top: 2px solid $primary_20;
      border-bottom: 2px solid $primary_20;
      filter: drop-shadow(0px 0px 3px $primary);
      span {
        position: relative;
        display: inline-block;
        // animation: ani 2s infinite alternate cubic-bezier(0.86, 0.3, 0.07, 2);
        // @for $i from 1 through 7 {
        //   &:nth-child(#{$i}) {
        //     animation-delay: calc(2s * ($i / 7));
        //   }
        // }
      }
    }
    .logo {
      position: absolute;
      z-index: -1;
      opacity: 0.1;
      left: -2%;
      top: -4%;
    }
  }
  .isi {
    display: flex;
    max-width: 60%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .data {
      position: relative;
      display: flex;
      gap: 0.5rem;
      height: 95%;
      transition-property: transform;
      transition-duration: 0.8s;
      .wrapper {
        border: 1px solid $tiernary_1;
        flex: 1 0 auto;
        width: 100%;
        max-width: 10rem;
        display: block;
        height: 98%;
        cursor: pointer;
        transition-property: max-width;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        h1 {
          position: absolute;
          bottom: 12.5%;
          left: 0;
          margin: 0;
          width: 100%;
          text-align: center;
          display: inline;
          height: max-content;
          opacity: 0;
          transform: translateY(15%);
          transition-property: transform, opacity;
          transition-duration: 0.3s, 0.2s;
          transition-timing-function: ease;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 15%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, $bg 100%);
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        .overlay {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: background-color 0.3s ease;
          background-color: rgba(0, 0, 0, 0.5);
        }
        &:hover {
          max-width: 16rem;
          &::after,
          h1 {
            opacity: 1;
            transform: translateY(0);
          }
          .overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      height: 93%;
      width: 12.5%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, $bg 100%);
      z-index: 10;
    }
    .tombol {
      display: flex;
      justify-content: space-between;
      height: 5%;
      button {
        width: 15%;
        background: linear-gradient($bg, $bg) padding-box, linear-gradient(60deg, $primary 0%, $tiernary_1 100%) border-box;
        border: none;
        border: 2px solid transparent;
        color: #ffff;
        font-weight: 600;
        position: relative;
        cursor: pointer;
        svg {
          height: 100%;
          width: auto;
        }
        &:nth-child(1) {
          text-align: start;
        }
        &:nth-child(2) {
          text-align: end;
        }
      }
    }
  }
  .view {
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    button {
      width: 5%;
      background: linear-gradient($bg, $bg) padding-box, linear-gradient(60deg, $primary 0%, $tiernary_1 100%) border-box;
      border: none;
      border: 2px solid transparent;
      color: #ffff;
      font-weight: 600;
      position: relative;
      cursor: pointer;
      svg {
        height: 100%;
        width: auto;
      }
    }
    .wrapper {
      width: 100%;
      height: 65%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      margin-top: 0.3rem;
      gap: 1rem;
      .data-img {
        min-height: 100%;
        height: 100%;
        position: relative;
        z-index: 999;
        img {
          min-height: 100%;
          height: 100%;
          object-fit: contain;
        }
        .pages {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 999;
          svg:not(.active) {
            opacity: 0.5;
          }
          svg {
            cursor: pointer;
          }
        }
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10%;
          content: "";
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, black 100%);
          z-index: 1;
        }
      }
    }
    .detail {
      margin-top: 2rem;
      display: flex;
      h1 {
        display: inline;
        width: 30%;
        text-align: center;
        margin: 0;
        font-size: 32px;
      }
      .isi {
        width: 50%;
        display: flex;
        flex-direction: column;
        p {
          display: inline;
          margin: 0;
          font-size: 12px;
          a {
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            color: $primary;
            align-items: center;
            display: inline;
            text-decoration: underline;
            span {
              color: $primary;
              font-size: 14px;
            }
            svg {
              height: 14px;
              width: 14px;
              margin-left: 0.1rem;
              margin-bottom: -3px;
            }
          }
        }
        .lang {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1rem;
          gap: 0.3rem;
          span {
            font-size: 10px;
          }
        }

        &::after {
          display: none;
        }
      }
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: "";
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
}
